<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Orchestra.Framework.Artefact" publicKeyToken="90fff056874d238f" culture="" />
        <bindingRedirect oldVersion="1.4.0.0-1.4.65535.65535" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>