<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.thalesgroup.orchestra.framework.connector.connectorDeclaration">
      <connector
            class="com.thalesgroup.orchestra.framework.connector.image.ImageConnector"
            id="ImageConnector">
      </connector>
   </extension>
   <extension
         point="com.thalesgroup.orchestra.framework.lib.defaultContextContribution">
      <contextPath
            relativePath="context/ImageContribution/ImageContribution.contexts">
      </contextPath>
   </extension>

</plugin>
