<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.thalesgroup.orchestra.framework.environment.environmentDeclaration">
      <environment
            category="Requirements Management"
            class="com.thalesgroup.orchestra.doors.framework.environment.DoorsEnvironment"
            handler="com.thalesgroup.orchestra.doors.framework.environment.DoorsEnvironmentHandler"
            id="com.thalesgroup.orchestra.doors.framework.environment"
            label="DOORS environment"
            version="2.2.0">
      </environment>
   </extension>
   <extension
         point="com.thalesgroup.orchestra.framework.environment.environmentValidationRule">
      <validationRuleGroup
            environmentDeclarationId="com.thalesgroup.orchestra.doors.framework.environment">
         <validationRule
               class="com.thalesgroup.orchestra.doors.framework.environment.validation.DoorsEnvironmentConstraint">
         </validationRule>
         <validationRule
               class="com.thalesgroup.orchestra.doors.framework.environment.validation.MakeBaselineVirtualNodesConstraint"
               ruleScope="MAKE_BASELINE_TYPE">
         </validationRule>
      </validationRuleGroup>
   </extension>   
</plugin>
