<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.thalesgroup.orchestra.framework.connector.contribution.artifactParameters" name="Artifact creation/edition parameters" schema="schema/com.thalesgroup.orchestra.framework.connector.contribution.artifactParameters.exsd"/>
</plugin>
