<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.thalesgroup.orchestra.framework.connector.connectorDeclaration">
      <connector
            class="com.thalesgroup.orchestra.framework.connector.migration.MigrationConnector"
            id="OF_MigrationConnector"
            logicalOnly="true">
      </connector>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/orchestra/framework/4_0_27/UriMigration"
            class="com.thalesgroup.orchestra.framework.UriMigration.UriMigrationPackage"
            genModel="model/UriMigration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="urimigration"
            class="com.thalesgroup.orchestra.framework.UriMigration.util.UriMigrationResourceFactoryImpl"/>
   </extension>

</plugin>
