<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Orchestra.Framework.VariableManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Orchestra.Framework.VariableManager.Properties.Settings>
            <setting name="Orchestra_Framework_VariableManager_VariableManagerServer_VariableManagerWSAdapterService" serializeAs="String">
                <value>http://localhost:8097/services/VariableManager</value>
            </setting>
        </Orchestra.Framework.VariableManager.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove type="System.Diagnostics.DefaultTraceListener"/>
        <add name="myListerner" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\myListener.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
