<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.thalesgroup.orchestra.framework.ui.view.VariablesView"
            icon="img/variable_view.gif"
            id="com.thalesgroup.orchestra.framework.ui.view.variables"
            name="%variablesViewName"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.thalesgroup.orchestra.framework.ui.view.UnreachableContextsView"
            id="com.thalesgroup.orchestra.framework.ui.view.unreachableContexts"
            name="%unreachableContextsViewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.thalesgroup.orchestra.framework.application.FrameworkPerspective">
         <view
               closeable="false"
               id="com.thalesgroup.orchestra.framework.ui.view.variables"
               minimized="false"
               moveable="true"
               ratio="0.60"
               relationship="top"
               relative="com.thalesgroup.themis.papeete.plugin.PapeeteConsoleView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               moveable="true"
               ratio="0.40"
               relationship="stack"
               relative="com.thalesgroup.themis.papeete.plugin.PapeeteConsoleView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               ratio="0.40"
               relationship="stack"
               relative="com.thalesgroup.themis.papeete.plugin.PapeeteConsoleView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.thalesgroup.orchestra.framework.ui.view.unreachableContexts"
               minimized="false"
               moveable="true"
               ratio="0.40"
               relationship="stack"
               relative="com.thalesgroup.themis.papeete.plugin.PapeeteConsoleView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.thalesgroup.orchestra.ldap.preferences.RolePreferencePage"
            id="com.thalesgroup.orchestra.ldap.preferences.RolePreferencePage"
            name="Ldap server">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.thalesgroup.orchestra.ldap.preferences.LdapPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.thalesgroup.orchestra.framework.ui.view.HiddenMarkerHandlerEditor"
            default="false"
            extensions="contexts"
            icon="img/variable_view.gif"
            id="com.thalesgroup.orchestra.framework.ui.hiddenEditor"
            name="Hidden Maker Handler Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.thalesgroup.orchestra.framework.ui.view.variables">
         <dynamic
               class="com.thalesgroup.orchestra.framework.ui.view.ModelElementFilterContribution"
               id="com.thalesgroup.orchestra.framework.ui.modelElementFilterContribution">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
