<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.thalesgroup.orchestra/framework/4_1_0/contexts"
            class="com.thalesgroup.orchestra.framework.model.contexts.ContextsPackage"
            genModel="model/contexts.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="contexts"
            class="com.thalesgroup.orchestra.framework.model.contexts.util.ContextsResourceFactoryImpl"/>
   </extension>

</plugin>
