<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.thalesgroup.orchestra.framework.connector.connectorDeclaration">
      <connector
            class="com.thalesgroup.orchestra.framework.connector.com.ComConnector"
            id="Com_DefaultConnector">
      </connector>
   </extension>

</plugin>
