<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.thalesgroup.orchestra.template.framework.connector.application.TemplateApplication">
         </run>
      </application>
   </extension>
   <extension
         point="com.thalesgroup.orchestra.framework.connector.connectorDeclaration">
      <connector
            class="com.thalesgroup.orchestra.template.framework.connector.impl.TemplateConnector"
            id="TemplateConnector"
            logicalOnly="false">
      </connector>
   </extension>
</plugin>
